
.two{
    float: bottom;
    height: 25%;
}
.one{

    height: 50%;
    float: bottom;
}
.three{
    float: bottom;
    height: 50%;
}
.six {
    float: left;
}
.ff {
    float: bottom;
}
.kno {
    /*display: inline-block;*/
    background: green;
    color: #fff;
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 3px;
}

body{
    margin: 0;
    font-family: 'FuturaPT',Arial,sans-serif;
}
.header-site{
    background: green;
    color: #061524;
    /*padding: 20px;*/
    padding-left: 30px;
    overflow:hidden;

}

.header-site h1{
    font-size: 20px;
    margin:0;
    text-transform: uppercase;
    float:left;
}
.top{
    float: left;
}
.main-menu{
    float: left;

}
.main-menu ul{
    padding: 0;
    margin: 0;
}
.main-menu ul li{
    list-style: none;
    display: inline;
    margin-right: 150px;
    /*float: right;*/
    text-transform: uppercase;
}
.main-menu ul li a{

    text-decoration: none;
    color: black;
}
.main-menu ul li a:hover{
    color: yellowgreen;
}



<<<<<<< HEAD

=======
>>>>>>> fdf69f395dee25a572ccd0ca27c827f8695e11fc
div{
    text-align: center;
  /*  background-color: burlywood;*/
}
a:hover{
    color: yellow;
}
a:active{
    color: red;
}
<<<<<<< HEAD
section {
    background-color: gray;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.1one {
    width: 20%;
    height: 20%;
=======

>>>>>>> fdf69f395dee25a572ccd0ca27c827f8695e11fc


body{
  padding: 0;
}

.cont1{
    background-color: burlywood;
    font-size: 20px;
    display: grid;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px;
    grid-template-rows:auto;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-areas:
            'k11 k22 k33 k44 k55';}
.a {
    grid-area: k11;
}

.b {
    grid-area: k22;
}

.c {
    grid-area: k33;
}

.d {
    grid-area: k44;
}
.e {
    grid-area: k55;
}

.grid_cont{
    background-color: burlywood;
    font-size: 20px;
    display: grid;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px;
    grid-template-rows:auto;
    grid-template-columns: 50% 50%;
    grid-template-areas:
            'k1 k2'
            'k3 k4';}
.A {
    grid-area: k1;
}

.B {
    grid-area: k2;
}

.C {
    grid-area: k3;
}

.D {
    grid-area: k4;
}
.new_header{
    display: grid;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 10px;
    grid-template-rows:auto;
    grid-template-columns: 50% 50%;
    grid-template-areas:
            'ico tm'}
.top {
    grid-area: ico;

}

.Tm {
    margin-top:15px;
    float: right;
    grid-area: tm;
}

.tablo{
    background-color: cadetblue;
    font-size: 20px;
    border-style: solid;
    display: grid;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 0;
    grid-template-rows:auto;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-areas:
            'ph na na'
            'ph ab ot';}
.photo {
    padding: 0;
    border-style: solid;
    grid-area: ph;
}

.name {
<<<<<<< HEAD
    padding: 0px;

=======
    padding: 0;
>>>>>>> fdf69f395dee25a572ccd0ca27c827f8695e11fc
    background-color: royalblue;
    grid-area: na;
    border-style: solid;
}

.about {
    padding: 0;
    background-color: royalblue;
    grid-area: ab;
    border-style: solid;
}

.otziv {
    padding: 0;
    background-color: royalblue;
    border-style: solid;
    grid-area: ot;
}

.foot{
    background-color: burlywood;
    display: grid;
    margin-top:10px;
    margin-bottom: 10px;
    padding: 0;
    grid-template-rows:auto;
    grid-template-columns: 14% 14% 14% 14% 14% 14%;
    grid-template-areas:
            'kont kont kont vk inst face';}
.kont {
    text-align: left;
    font-size: 30px;
    margin-top: 20px;
    grid-area: kont;
}

.vk {

    grid-area: vk;
}

.inst {
    grid-area: inst;
}
.face {

    grid-area: face;
}
.kont{
    margin-left: 20px;
    margin-bottom: 20px;
}
.vk, .inst, .face{
    margin-top: 10px;
    margin-left: 70px;}
.name1{

<<<<<<< HEAD
    grid-area: ot;}

.night{
    background: red;
}
.day {
    background: blue;
}
=======
}
@media screen and (max-width: 400px){

    div{
        flex-direction: column;

    }
    main{
        flex-direction: column;
    }
    .tablo{

        display: grid;
        font-size: 25px;
        background-color: cadetblue;
        border-style: solid;
        align-items: center;
        margin-top:10px;
        margin-bottom: 10px;
        padding: 10px;
        grid-template-rows:auto;
        grid-template-columns: 50% 50%;
       grid-template-areas:
            'ph ph'
            'na na'
            'ab ab'
            'ot ot';}

    .cont1{
        background-color: burlywood;
        font-size: 25px;
        margin-top:10px;
        margin-bottom: 10px;
        padding: 10px;
        grid-template-rows:auto;
        grid-template-columns: 100%;
        grid-template-areas:
            'k11'
            'k22'
            'k33'
            'k44'
            'k55';}

    .grid_cont{
        background-color: burlywood;
        font-size: 25px;
        margin-top:10px;
        margin-bottom: 10px;
        padding: 10px;
        grid-template-rows:auto;
        grid-template-columns: 100% ;
        grid-template-areas:
            'k1'
            'k2'
            'k3'
            'k4';}
    .foot{
        background-color: burlywood;
        display: grid;
        margin-top:10px;
        margin-bottom: 10px;
        padding: 0;
        grid-template-rows:auto;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas:
            'kont kont kont'

            'vk inst face';}
    .kont{
    text-align: center;
    }

    }



@media screen and (min-width: 401px) and (max-width: 1000px){


    .tablo{
        font-size: 20px;
        background-color: cadetblue;
        border-style: solid;

        margin-top:10px;
        margin-bottom: 10px;
        padding: 0;
        grid-template-rows:auto;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            'ph ph'
            'na na'
            'ab ab'
            'ot ot';}

    .cont1{
        background-color: burlywood;
        font-size: 20px;
        margin-top:10px;
        margin-bottom: 10px;
        padding: 10px;
        grid-template-rows:auto;
        grid-template-columns: 50% 50%;
        grid-template-areas:
            'k11 k22'
            'k33 k44'
            'k55 k55';}

    .grid_cont{
        background-color: burlywood;
        font-size: 20px;
        margin-top:10px;
        margin-bottom: 10px;
        padding: 10px;
        grid-template-rows:auto;
        grid-template-columns: 100% ;
        grid-template-areas:
            'k1'
            'k2'
            'k3'
            'k4';}
    .kont{
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .vk, .inst, .face{
        margin-left: 70px;
        margin-top: 15px;}
}
>>>>>>> fdf69f395dee25a572ccd0ca27c827f8695e11fc
