.one{
    border: 1px solid black;
    float: left;
    width: 100px;
    background: yellow;
}
.two{

    float: bottom;
    width: 100px;
    background: yellow;

}
.three  {
    border: 1px solid black;
    float: left;
    width: 100px;
    background: deepskyblue;
}

.four {
border: 1px solid black;
float: left;
width: 100px;
background: yellow;
}
.five {
    float: bottom;

}

.fon {
    background: bisque;

}
.foot{
 float: bottom;
}